.table_album {
	width:100%;
}
.td_album {
	width: 20%; 
	text-align: center;
}
.td_album_image {
	width: 25%; 
	text-align: center;
}
.td_album_image img {
	border:1px solid #d1d1d1;
}
.album {
	width: 160px; 
	height: 138px; 
	padding: 5px 0px 0px 0px; 
	background: url('../image/bgVideoAlbum.png') no-repeat;
	margin-left: 40px;
}
.album img {
	border:0px;
}
.album_name {
	text-decoration:none;
	font-weight: bold;
	font-size:10.5pt;
}
.album_date_added {
	color: #999; 
	font-size: 11px;
	margin-bottom: 10px;
}
.album_sort {
	width: 100%; 
	height: 30px; 
	line-height: 30px; 
	margin-bottom: 5px;
}
div.nicetitle {
	background-color: #555;
	color: #38B0E3;
	font: 12px "Trebuchet MS", Verdana, Arial, sans-serif;
	left: 0;
	padding: 4px;
	position: absolute;
	top: 0;
	width: 600px;
	z-index: 20;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	 border-radius: 10px;
	}

div.nicetitle p {
    margin: 0;
	padding: 0 3px;
}

div.nicetitle p.destination {
    font-size: 9px;
    padding-top: 3px;
	text-align: left;
}

div.nicetitle p span.accesskey {
	color: #d17e62;
}

#play{
	position:absolute; 
    margin-left: 40px;
	margin-top: 25px; 
	border: 0px;
}

#bor:hover{
	border: 1px #38B0E3 solid;
	
}

#bor{
	border: 1px #fff solid;
	width: 122px;
	height: 92px;
	margin-left: 55px;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  #play {
    margin-left: 40px;
  }
}